.view-job-view .status_pencil td ,
.job_status_Pencil {
	color: #777777;
}

.view-job-view .status_confirmed td ,
.job_status_Confirmed {
	color: #11b900;
}

.view-job-view .status_cancel td ,
.job_status_Cancel {
	color: #e00000;
}