body,
input,
textarea,
select { font-family:"Lucida","Lucida Grande","Trebuchet MS",Tahoma,Verdana,sans-serif; }

body.rubik {
  color:#565656;
  background:#eee url(images/body.jpg) repeat 0 0;
  }

a {
  color:#39c;
  text-decoration:none;
  }

.limiter { width:1120px; }

#top { background:url(images/header.png) 0px 0 repeat-x; height: 191px; position: relative; }

/**
 * Branding ===========================================================
 */
#branding {
position: absolute; bottom: 0;
  height:30px; width: 100%;
  }

#branding .limiter {width: 1120px; margin: 0 auto;}
#branding ul.links {
  float:right;
  padding:5px 10px;
  }

#branding .breadcrumb {
  padding:5px 10px 4px 5px;
  float:left;
  font-weight:normal;
  }
#branding ul.links a {display: none;}
  #branding .breadcrumb span.breadcrumb-link {
    float:left;
    }

  #branding .breadcrumb a,
  #branding .breadcrumb strong {
    font-weight:normal;
    float:left;
    padding:0px 5px; color: #b3b3b3; font-size: 11px; text-transform: uppercase;
    }

/**
 * Page title =========================================================
 */
#page-title {
  position:relative;
  padding:10px 0px 10px;
  color:#fff;

  }
  
#page-title .icon {display: none !important;}  

  #page-title a { color:#fff; }

  #page-title .page-title {
    padding:70px 10px 10px 10px;
    line-height:30px;
    min-height:30px; text-indent: -9999px;
	background: url(images/logo.png) no-repeat left center; padding-left: 100px !important; height: 46px;
    }

  #page-title .page-title span.icon {
    float:left;
    margin-right:10px;
    }

#page-title ul.links {
  letter-spacing:1px;
  text-transform:uppercase;
  float:right;
  padding:10px 0px;
  }

  #page-title ul.links a {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    color:#888;
    padding:5px 10px 5px 25px;
    }

  #page-title ul.links li.active a,
  #page-title ul.links li a.active {
    color:#fff;
    background:red url(images/cube.png) 0px -160px repeat-x;
    }

  #page-title ul.links li a:hover { color:#fff; }

/**
 * Page elements ======================================================
 */
div.pager,
#header,
#footer,
#page,
#tabs .page-tabs {
  background:#fff;
  margin:10px auto;
  }

#header {
  width:950px;
  padding:5px;
  }

/**
 * Tabs, pagers =======================================================
 */
#tabs .page-tabs {
  background: url(images/heading-bg.png) 0px 0 repeat-x; border-radius: 4px; padding: 0px; border: 0;
  color:#fff;
  }

  div.pager,
  #page div.pager {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

    background:#fff;
    line-height:18px;
    border-width:1px;
    border-style:solid;
    border-color:#ccc #ddd #eee;
    }

  #tabs .page-tabs ul.links {
    float:none;
    height:30px;
    position:static;
    padding:0px;
    }

  #tabs .page-tabs li { padding:0px; }

  .pager a,
  .pager li.pager-current,
  #tabs .page-tabs li a,
  #tabs .page-tabs li a:hover,
  #tabs .page-tabs li.active a,
  #tabs .page-tabs li a.active {
    color:#888;
    font-weight:normal;
    font-size:13px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    padding:5px 15px;
    border:0px;
    background:transparent;
    }

    .pager a,
    .pager li.pager-current { padding:5px 10px; }

  #page .pager a:hover,
  #tabs .page-tabs li a:hover {
    background:#fff;
    color:#333;
    }

    #page .pager a:hover { background:#eee; }

  #page .pager ul.pager-list li:first-child a,
  #page .pager ul.pager-list li.pager-current:first-child,
  #tabs .page-tabs li:first-child a {
    -moz-border-radius:5px 0px 0px 5px;
    -webkit-border-radius:5px 0px 0px 5px;
    }

  #page .pager ul.pager-links li:last-child a {
    -moz-border-radius:0px 5px 5px 0px;
    -webkit-border-radius:0px 5px 5px 0px;
    }

  .pager li.pager-current,
  #tabs .page-tabs li.active a,
  #tabs .page-tabs li a.active {
    background: #2669b1;
    color:#fff;
    }

/**
 * Page layout ========================================================
 */
#page {
  width:1120px;
  padding:5px;
  background:#fff; border-radius: 4px; border: 1px solid #d5d5d5;
  }

.page-content { padding:4px; }

.content-wrapper { margin:5px; }

/**
 * Footer =============================================================
 */
#footer {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  padding:10px 0px;
  margin:0px auto 60px;
  background:#f8f8f8;
  font-size:11px;
  text-shadow:#fff 0px 1px 0px;
  }

#footer .footer-message {
  padding:0px 10px;
  float:left;
  }

#footer .feed-icons {
  margin:0px;
  padding:2px 5px;
  background:transparent;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;

  /* Assume icons are 16x16 like Drupal core. */
  line-height:16px;
  float:right;
  }

  #footer .feed-icons img { display:block; }

  #footer .feed-icons label,
  #footer .feed-icons a {
    padding:0px 5px;
    float:left;
    }

/**
 * Form goodness
 */
input.form-submit:hover {
  border-color:#08a #08a #046;
  background:red url(images/cube.png) 0px -190px repeat-x;
  color:#fff;
  }

/**
 * Blocks
 */
div.messages,
.block { margin:5px; }

.block .block-title, .item-list h3, .block .block-title, .admin-panel h3, .fieldset-title, .collapsible .fieldset-title a {
  background: red url(images/heading-bg.png) 0px 0 repeat-x; border-radius: 4px; padding: 6px 10px; border: 0;
  color:#fff;
  }

/**
 * Help ===============================================================
 */
#page-help { background:#404040; }

#page-help .limiter {
  z-index:1;
  position:relative;
  }

a#help-toggler {
  position:absolute;
  right:0px;
  bottom:-15px;
  left:auto;
  width:auto;
  height:auto;

  -moz-border-radius:0px 0px 3px 3px;
  -webkit-border-radius:0px 0px 3px 3px;

  color:#888;
  background:#333;

  padding:0px 15px;
  line-height:15px;
  height:15px;

  font-size:10px;
  text-transform:uppercase;
  text-indent:0px;
  }

  a#help-toggler:hover { color:#fff; }

div#help-text {
  -moz-border-radius:0px 0px 0px 3px;
  -webkit-border-radius:0px 0px 0px 3px;
  color:#ccc;
  background:#333;
  border:0px;
  }

div#help-text .column-side .help-links { background:#222; }

/**
 * Content ============================================================
 */
.help-page,
div.comment,
div.node {  }

#help-text .column-main .column-wrapper,
.help-page .column-main .column-wrapper,
div.comment .column-main .column-wrapper,
div.node .column-main .column-wrapper { padding:19px; }

  #help-text .column-main .column-wrapper {
    padding-left:59px;
    position:relative;
    }

    #help-text .column-main .column-wrapper span.icon {
      position:absolute;
      top:15px;
      left:15px;
      }

#help-text .column-side .column-wrapper,
.help-page .column-side .column-wrapper,
div.comment .column-side .column-wrapper,
div.node .column-side .column-wrapper {
  padding:9px;
  font-size:11px;
  }

#help-text .column-side .help-links,
.help-page .column-side .help-page-links,
.node-submitted,
.comment-submitted {
  padding:10px;
  background:#f8f8f8;
  }

.comment-links,
.node-links { padding:10px 0px; }

.help-page .help-page-links ul.links {
  -moz-column-count:2;
  -webkit-column-count:2;
  }

.column-side ul.links li,
.column-side ul.links a,
.column-side ul.links span {
  display:block;
  float:none;
  }

.column-side ul.links a,
.column-side ul.links span {
  padding:0px 10px;
  display:block;
  float:none;
  }

  .column-side ul.links span a {
    padding:0px;
    display:inline;
    }

  .column-side ul.links a.active,
  .column-side ul.links a:hover { background:#fff; }
  .comment-links ul.links a:hover { background:#f4f4f4; }

.comment-title,
.node-title {
  margin:0px 0px 20px;
  font-weight:normal;
  font-size:16px;
  }


.logged-in .column-side {float: none !important;}

.logged-in .column-main {width: 100% !important; margin-bottom: 20px;float: none !important;}

.logged-in .form-layout-default, .help-page, div.comment, div.node {background-image: none !important; }



.form-item .form-item {border: 0 !important;}

#autocomplete {background: #fff !important;}

#block-views-crew_members-block_1 .views-field-value-1 a {color: #494949; font-size: 20px; display: block; text-decoration: none; margin-bottom: 10px;}

#block-views-crew_members-block_1 .views-row {padding: 2em 0; border-bottom: 1px solid #494949; overflow: hidden; margin-bottom: 2em;}

      
      ul li.leaf a, ul li.expanded a, ul li.collapsed a {
    display: block; color: red; }





#edit-date-timer-datepicker-popup-0-wrapper {margin-top: 0px !important; padding: 0 !important;}


.node-job .node-content .field-label {float: none !important;}



.field-field-job-session-crews-item-odd {background: #f4f4f4 !important; padding: 10px;}
.field-field-job-session-crews-item-even {background: #fff !important; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px;}
.node-job .node-content .del_crew_from_session {float: right;}


.field-field-job-session-crews-item-odd .field-item, .field-field-job-session-crews-item-even .field-item {padding: 5px 0;}


.field-field-job-comments {padding: 10px; background: #ccc; clear: both;}

.field-field-job-session-crews-items {padding-left: 0 !important; margin: 20px 0;}

/*
.node-job .node-content .field-field-job-client-contact .field-label, .node-job .node-content .field-field-job-client-name .field-label, .node-job .node-content .field-field-job-venue .field-label, .node-job .node-content .field-field-job-status .field-label, .node-job .node-content .field-field-job-date .field-label, .node-job .node-content .field-field-job-number .field-label, .node-job .node-content .field-field-session-job-nid .field-label {float: left !important;}

.node-job .node-content .field-field-job-client-contact, .node-job .node-content .field-field-job-client-name, .node-job .node-content .field-field-job-venue, .node-job .node-content .field-field-job-status, .node-job .node-content .field-field-job-date, .node-job .node-content .field-field-job-number {margin: 5px 0; padding: 5px 0; border-bottom: 1px solid #ccc;}

.node-job .node-content .acecrew_session_totals {text-align: right; font-size: 16px; line-height: 1.5;}

.node-job .node-content .field-field-session-job-nid { font-size: 16px; line-height: 1.5;}
*/



.acecrew_session_edit_button, .acecrew_session_sms_button, .acecrew_session_del_button, .form-submit, button, #acecrew_session_add_buttons a, #acecrew_job_button_quote, #acecrew_job_button_invoice, input.teaser-button, input.form-submit, .call-buttons a {background: #596371 url(images/btn.png) repeat-x 0 0; padding: 6px 10px; border-radius: 4px; border: 1px solid #4c5764; color: #fff; text-shadow: -1px -1px 0 #3e4550;}



.acecrew_session_edit_button:hover, .acecrew_session_sms_button:hover, .acecrew_session_del_button:hover, .form-submit:hover, button:hover, #acecrew_session_add_buttons a:hover, #acecrew_job_button_quote:hover, #acecrew_job_button_invoice:hover, input.teaser-button:hover, input.form-submit:hover, .call-buttons a:hover {background: #596371 url(images/btn.png) repeat-x 0 -100px; padding: 6px 10px; border-radius: 4px; border: 1px solid #4c5764; color: #fff; text-shadow: -1px -1px 0 #3e4550;}



.acecrew_session_edit_button, .acecrew_session_sms_button, .acecrew_session_del_button {margin: 5px;}
.acecrew_session_buttons {text-align: right; padding: 10px;}

#acecrew_session_add_buttons a, #acecrew_job_button_quote, #acecrew_job_button_invoice {font-size: 14px !important;}

.acecrew_job_docs li {margin-bottom: 10px !important;}

#header-output {position: absolute; top: 35px; right: 0; width: 196px; height: 52px; background: url(images/header-content.png) no-repeat 0 0; padding-left: 75px; color: #aaa; padding-top: 15px;}
#header-output div {background: transparent !important; border: 0 !important; padding: 0 !important; margin: 0 !important;}
#header-output i {text-transform: capitalize; font-weight: bold;}
#header-output strong {text-transform: capitalize; font-weight: bold; font-size: 1.2em;}
#block-nice_menus-1 {margin: -29px;}
#block-nice_menus-1 .block-title {display: none;}
#block-nice_menus-1 .block-content {width: 1120px; margin: 0 auto; background: url(images/menu.png) repeat-x 0 0; -webkit-border-top-left-radius: 4px; padding: 0; height: 43px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;}
#block-nice_menus-1.block {border: 0 !important; background: none !important}
#block-nice_menus-1 .block-content .nice-menu {padding: 10px;}


.not-logged-in .content-wrapper  {display: none;}

.block, .item-list, .help-items ul, .form-item, .confirmation ul, .admin-list, .node-type-list, .admin-panel {border: 0;}
input.form-autocomplete, input.form-text, textarea.form-textarea, select.form-select {background: #f7f7f7; border: 1px solid #d5d5d5; padding: 6px 10px;}
#user-login-form .form-item {width: 220px !important; padding: 0 !important; margin-bottom: 10px !important;}
#user-login-form .form-item input {width: 198px !important;}
.not-logged-in #user-login-form .item-list {display: none;}
#user-login-form {width: 220px; margin: 20px auto;}
#user-login-form #edit-submit {float: right; margin-top: 10px;}
.container-inline .fieldset-content, .fieldset-content {border: 0;}
.page-acecrew #page, .page-acecrew .content-wrapper {background: transparent !important; border: 0 !important; padding: 0 !important;}
.page-acecrew .content-wrapper {margin: 30px 0 !important;}
.block .block-content, .container-inline .fieldset-content, .fieldset-content {background: transparent;}
#acecrew-calendar-form .fieldset-content {background: url(images/pattern-grey.png) repeat 0 0; border-radius: 6px; margin-top: 45px; padding: 2px 10px 8px !important;}
#edit-date-timer-wrapper {padding-top: 0 !important;}
.loading-gif {display: block; margin: 100px auto;}
.icon-info {display: block; margin: 10px auto; width: 57px; height: 60px; background: url(images/icon-info.png) no-repeat 0 0;}
span.icon {display: none !important}
form .buttons {padding: 0; border: 0; background: transparent;}
/*
.fieldset.titled.collapsible.collapsed.tao-processed {display: none;}
*/
fieldset.group-company-contact-details, fieldset.group-company-other, fieldset.group-accounts, fieldset.group-additional-office {display: block !important;}
fieldset.group-company-contact-details #edit-field-client-logo-0-ahah-wrapper {width: 220px;}
#edit-date-timer-datepicker-popup-0 {background-image: url(images/calendar.png); background-repeat: no-repeat; background-position: 97% center;}


/*sidebar AJAX block */
#block-block-2 {background: url(images/pattern-blue.png) repeat 0 0; border: 1px solid #99c4ea; border-radius: 6px; margin: 30px 0 30px 0;}
#block-block-2 div {background: transparent !important;}
.info-icon {display: block; margin: 10px auto;}
#block-block-2 p {text-align: center;}
#node-14 .column-main, #node-11 .column-main  {display: none;}
#node-11, #node-14 {border: 0;}




/*call listing*/
.call-buttons a {display: inline-block; margin-left: 20px; padding: 4px 8px !important; font-size: 12px;}
.call-buttons {text-align: right; margin: 10px 0;}
ul.call-listing li.call-listing-item {background: #fff url(images/listing-header.png) repeat-x 0 0; border: 1px solid #d5d5d5; border-radius: 6px; margin-top: 10px;}
.call-count-title {background: url(images/pattern-dark-blue.png) repeat-x 0 0; height: 25px; color: #fff; display: inline-block; border-radius: 4px; padding: 0 12px; line-height: 25px;}
.call-first-row {height: 30px; margin-bottom: 20px;}
.call-first-row span {color: #363636; line-height: 30px;}
.call-first-row .call-id {background: url(images/call-id.png) no-repeat 0 0; padding-left: 40px; display: inline-block; margin-right: 100px; height: 30px;}
.call-first-row .call-time {background: url(images/call-time.png) no-repeat 0 0; padding-left: 40px; display: inline-block; margin-right: 100px; height: 30px;}
.call-first-row .call-crew-count {background: url(images/call-crew.png) no-repeat 0 0; padding-left: 40px; display: inline-block; margin-right: 100px; height: 30px;}
.call-first-row .call-hours {background: url(images/call-hours.png) no-repeat 0 0; padding-left: 40px; display: inline-block; height: 30px;}
.call-second-row, .call-third-row, .call-fourth-row {padding: 10px; background: #f7f7f7;}
.call-second-row, .call-fourth-row {border: 1px solid #d5d5d5;}
.call-third-row {border-left: 1px solid #d5d5d5; border-right: 1px solid #d5d5d5;}
.call-third-row strong {margin-right: 10px;}
.call-third-row span {display: inline-block; margin-left: 5px; background: url(images/supplement-bg.png) repeat-x 0 0; border: 1px solid #4c5764 !important; border-radius: 2px; color: #fff; font-size: 11px; padding: 0px 7px !important; text-transform: lowercase;}
.call-second-row span {display: inline-block; margin-right: 50px;}
.call-second-row span:last-child {margin: 0;}
.call-fourth-row li {display: inline-block !important; border: 0; padding: 0px 7px !important; font-size: 11px; margin-right: 5px;} 
.call-fourth-row .session_crew_statused_name_confirm {background: url(images/crew-status-confirm.png) repeat-x 0 0; border: 1px solid #9dc845 !important; border-radius: 2px; color: #768421;}
.call-fourth-row .session_crew_statused_name_sms {background: url(images/crew-status-text.png) repeat-x 0 0; border: 1px solid #eaa552 !important; border-radius: 2px; color: #e17821;}
#acecrew_calendar_output .item-list {background: transparent !important;}
.acecrew_calendar_no_events {display: block; font-size: 1.25em; text-align: center; margin: 50px auto;}

/*main menu*/
ul.nice-menu > li {border: 0 !important; background: transparent !important; margin: 0 35px;}
ul.nice-menu a {color: #fff; text-transform: uppercase; text-shadow: -1px -1px 0 #7f0205; font-weight: bold;}
ul.nice-menu > li.first {margin-left: 0;}
ul.nice-menu li.menuparent ul {background: #aa2933 !important; border: 0; top: 33px !important;}
ul.nice-menu li.menuparent ul li, ul.nice-menu li.menuparent ul li a {border: 0 !important; background: transparent !important; text-transform: none !important; font-weight: normal !important}
ul.nice-menu li.menuparent ul li a {display: block; float: none; padding: 8px;}


/*create user profile page*/
#user-profile-form .form-item{ float:left;}
.profile_title {
  background: red url(images/heading-bg.png) 0px 0 repeat-x; border-radius: 4px; padding: 6px 10px; border: 0;
  color:#fff; cursor:pointer;
  }
#edit-pass-pass1-wrapper,#edit-pass-pass2-wrapper{width:162px;padding:0;}  
select.form-select {padding: 5px 10px!important;}
#edit-profile-crew-dob-wrapper label,#edit-profile-visa-start-wrapper label,#edit-profile-visa-end-date-wrapper label{padding-left:5px;}
#edit-profile-crew-dob-day-wrapper,#edit-profile-crew-dob-month-wrapper,#edit-profile-crew-dob-year-wrapper,#edit-profile-visa-start-day-wrapper,#edit-profile-visa-start-month-wrapper,#edit-profile-visa-start-year-wrapper,#edit-profile-visa-end-date-day-wrapper,#edit-profile-visa-end-date-month-wrapper,#edit-profile-visa-end-date-year-wrapper{ padding-top:0;}
#edit-profile-crew-skills-chief-wrapper,#edit-profile-crew-skills-driver-wrapper,#edit-profile-crew-skill-new-wrapper,#edit-profile-crew-skills-cherry-wrapper,#edit-profile-crew-skills-forklift-wrapper{padding-top:30px;}
#edit-profile-crew-dob-wrapper,#edit-profile-visa-start-wrapper,#edit-profile-visa-end-date-wrapper{ padding-left:0; padding-right:0;}
/*create venue page*/
.page-node #edit-field-venue-name-0-value-wrapper, .page-node #edit-field-venue-email-0-email-wrapper, .page-node #edit-field-venue-telephone-0-value-wrapper, .page-node #edit-field-venue-contact-0-value-wrapper, .page-node #edit-field-venue-contact-telephone-0-value-wrapper, .page-node #edit-field-nearest-station-0-value-wrapper, .page-node #edit-field-venue-post-code-0-value-wrapper, .page-node #edit-field-boundary-round-trip-0-value-wrapper, .page-node #edit-field-boundary-charge-0-value-wrapper {width: 17%; display: inline-block;}
.page-node #edit-field-boundary-round-trip-0-value-wrapper input, .page-node #edit-field-boundary-charge-0-value-wrapper input {width: 80%;}
.page-node #edit-field-venue-address-0-value-wrapper, .page-node #edit-field-venue-notes-0-value-wrapper {display: inline-block; width: 34.3%;}
.page-node #edit-field-venue-notes-0-value-wrapper {margin-left: 20px;}


/*additional styles added by Rob */
.node .node-submitted {display: none;}
.content-add-more {margin-top: 20px;}


/*added by anton*/
.crew-names {display: inline-block; margin-left: 20px; padding: 1px 8px !important; font-size: 12px; border-radius: 4px; -moz-border-radius: 4px; }